<table class="table">
  <thead>
    <th>#</th>
    <th>Material</th>
    <th>Trade</th>
    <th>Cost_code</th>
    <th>Price</th>
    <th>Active</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let row of list$ | async">
      <td>{{ row.id }}</td>
      <td>{{ row.material }}</td>
      <td>{{ row.trade }}</td>
      <td>{{ row.cost_code }}</td>
      <td>{{ row.price }}</td>
      <td>{{ row.active }}</td>
      <td>
        <div class="btn-group">
          <button [routerLink]="['/', 'construction', 'delete', row.id]" class="btn btn-danger">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
